body{
    background-color: #85bb65;
}


.imgProductos {
    
    width: 150px;
    height: 150px;
    object-fit: contain;
    margin-top: 1rem;
}

.card {
    display: flex;
    align-items: center;
    margin: 1rem;
    margin: 1rem;
    padding: 1rem;
    border-radius: 5px;
    --bs-card-bg: #208d5b;
    --bs-card-spacer-x: 0;
}

.colorBoton {
    border-color:rgba(51, 160, 154, 0.521);
    color: rgb(0, 0, 0);
    background-color: rgba(24, 245, 208, 0.445);
    font-weight: 500;
}

.colorBoton:hover {
    background-color: rgba(0, 225, 255, 0.842);
    color: rgb(0, 0, 0);
}

button{
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}

p{
    font-weight: 500;
    display: flex;
    justify-content: space-around;
}

.dark {
    background-color: black;
    color: white;
}

.dark h1 {
    color: yellow;
}

.dark .container {
    background-color: #333;
    color: #fff;
}

